@import 'tailwindcss';

:root {
  color-scheme: light;
  --color-bg: #fff;
  --color-content-bg: #e6e6e6;
  --color-txt: #000000;
  --color-txt-sec: #707070;
  --color-pri: #22d9ff;
  --color-sec: #44c56a;
  --color-section-border: #d6dde6;
  --color-sem-positive: oklch(59.6% 0.145 163.225);
  --color-sem-negative: oklch(58.6% 0.253 17.585);
  --color-skeleton: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-bg: #0a0b0a;
    --color-content-bg: #141414;
    --color-txt: #e0e0e0;
    --color-txt-sec: #8f8f8f;
    --color-pri: #22d9ff;
    --color-sec: #44c56a;
    --color-section-border: #272727;
    --color-sem-positive: oklch(84.5% 0.143 164.978);
    --color-sem-negative: oklch(71.2% 0.194 13.428);
    --color-skeleton: #272727;
  }
}

body {
  @apply m-0 bg-(--color-bg) text-(--color-txt) min-h-screen w-full overflow-hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes rainbow {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.animate-rainbow {
  animation: rainbow 30s linear infinite;
}

.grid-layout {
  @apply transition-all grid w-full content-start items-start gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-8 2xl:grid-cols-12;
}

.grid-section-xs,
.grid-section-md,
.grid-section-lg,
.grid-section-xl,
.grid-section-full {
  @apply col-span-full min-w-0;
}

.grid-section-xs {
  @apply md:col-span-1 lg:col-span-1 xl:col-span-2 2xl:col-span-2;
}

.grid-section-md {
  @apply md:col-span-1 lg:col-span-1 xl:col-span-2 2xl:col-span-3;
}

.grid-section-lg {
  @apply md:col-span-2 lg:col-span-2 xl:col-span-3 2xl:col-span-4;
}

.grid-section-xl {
  @apply md:col-span-2 lg:col-span-4 xl:col-span-4 2xl:col-span-6;
}

.section-base {
  @apply transition-all self-start w-full bg-(--color-bg) flex p-4 rounded-lg border border-(--color-section-border) @container;
}
