@import "tailwindcss";

:root {
  color-scheme: light;
  --color-bg: #FFF;
  --color-content-bg-start: rgba(230, 230, 230, 0.6);
  --color-content-bg-end: rgba(235, 235, 235, 0.6);
  --color-txt: #12243c;
  --color-txt-group: #2c333c;
  --color-pri: #3fbfdc;
  --color-sec: #44c56a;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-bg: #0a0b0a;
    --color-content-bg-start: #202225;
    --color-content-bg-end: #141414;
    --color-txt: #e0e0e0;
    --color-txt-group: #8f8f8f;
    --color-pri: #3fbfdc;
    --color-sec: #44c56a;
    --color-section-border: #272727;
  }
}

body {
  @apply m-0 bg-(--color-bg) text-(--color-txt) min-h-screen w-full overflow-hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
